* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.hero {
  background-position: center;
  background-image: url("../assets/backgrounds/h_img.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  padding-top: 20vh;
}

.hero h1 {
  line-height: 4.5rem;
  font-weight: 500;
  font-size: 48px;
}

#logo {
  cursor: pointer;
}

#logo:hover {
  transform: scale(0.8);
}

#mouse {
  margin-top: 20vh;
  cursor: pointer;
}

#mouse:hover {
  transform: scale(1.1) translateY(-10px);
}

.container-fluid p,
.services p {
  line-height: 3rem;
}

.services {
  overflow-x: hidden;
  padding: 15vh 0;
  position: relative;
  opacity: 1;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

.services::before {
  background-color: rgb(68, 56, 0);
  height: 60vh;
  width: 100vw;
  left: 0;
  position: absolute;
  content: " ";
  content-visibility: visible;
  opacity: 0.15;
}

.column {
  width: 80vw;
  cursor: pointer;
}

.design-p,
.dev-p,
.product-p {
  display: none;
  max-height: 30vh;
}
